:root {
	background-color: cornsilk;
	padding-left: 20%;
	padding-right: 20%;
}
header {
	text-align: center;
}
h1 {
	display: inline;
}
h1 img {
	height: 1.3em;
}
h2 {
	margin-top: 0;
}
header img {
	vertical-align: bottom;
}

#actions {
	margin-top: 0.5em;
	display: flex;
	justify-content: center;
}
#actions button {
	font-size: 1.5rem;
	border-radius: 5px;
	font-weight: bold;
	margin: 5px;
	cursor: pointer;
}

#sowwyImLazy {
	font-style: italic;
	margin: 1em;
}


#help {
	width: 80%;
	margin: auto;
	text-align: center;
	transition: all 0.3s;
	border-radius: 1em;
	border: dotted 0px grey;
	padding-left: 2ch;
	padding-right: 2ch;
}
#help[open] {
	border-width: 1px;
	padding-bottom: 1ch;
	margin-bottom: 0.5rem;
}
#help h3 {
	margin-bottom: 0.5em;
}
#help p {
	margin-top: 0;
	margin-bottom: 0.5em;
	text-align: left;
}
#help code {
	background-color: rgba(0,0,0, 0.1);
	border-radius: 0.2em;
	padding: 0 0.5ch;
}


.domain + .domain::before {
	content: ", ";
	font-family: unset;
}


summary {
	font-weight: bold;
	font-size: 1.5rem;
	cursor: pointer;
}
[open] summary {
	position: sticky;
	top: 0;
	background-color: cornsilk;
}

details details summary {
	font-size: 1.3rem;;
}

.codeContainer {
	margin-left: 0.8ch;
	padding-left: 0.5ch;
	border-left: 2px solid black;
}