body {
	margin: 5px;
	width: 40em;
}

#popupIcon {
	width: 18px;
	height: 18px;
}

header {
	font-family: 'courier new';
	font-size: 16px;
}

header h2 {
	display: inline;
}

nav {
	display: flex;
	justify-content: space-between;
}

form {
	display: inline-block;
}

label + label {
	margin-left: 1ch;
}


#scopeInfo {
	display: inline-block;
	font-style: italic;
	font-size: 0.8em;
	text-overflow: ellipsis;
	overflow: hidden;
	white-space: nowrap;
	max-width: 100%;
	padding-right: 1ch; /* otherwise the hidden overflow + italics cut the letter */
}

textarea::placeholder {
	color: rgba(0,0,0, 0.5);
}

input {
	margin: 2px;
}

main input {
	display: block;
	width: 100%;
	box-sizing: border-box;
}

#buttons {
	display: flex;
	justify-content: space-between;
}

#buttons button {
	border-radius: 5px;
	height: 30px;
	font-weight: bold;
	margin: 5px;
}